body{
    background-image: url("./back.jpg");
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

h1{
    color: white;
    font-weight: 600;
    font-size: 5em;
    font-family: 'Arial, sans-serif;
}

#count-el{
    color: white;
    font-size: 4em;
    font-weight: 700;
}

.click{
    font-size: 2em;
    font-weight: 700;
    /* color: black; */
    background: darkred;
}
button{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
