body{
    background-color:ivory;
}

.headleft ul{
    display: flex;
    list-style: none;
    letter-spacing: 1px;
}

#logo1{
    display: flex;
    justify-content: center;
    margin-top: -2%;
}

.headright ul{
    margin-top: -0.5%;
    margin-left: 81%;
    display: flex;
    list-style: none;
    letter-spacing: 0.45px;
}

/* How to fill color in one go? & increase the border size margin bottom didnt work*/
.first{
 margin-top: 1%;
 border: 1px solid black;
 background-color: beige;  

}

#head1{
    margin-top: 1%;
    margin-left: 5%;
    word-spacing: 3px;   
    font-size: 3em;
}

#para1{
    margin-top: -1%;
    margin-left: 5%;
    word-spacing: 3px;
    font-size: 2em;
}

#start{
    margin-top: -1%;
    margin-left: 5%;
    word-spacing: 3px;
    font-size: 25px;
    margin-bottom: 15px;
}

.first img{
    margin-left: 65%;
    margin-top: -3%;
}

.second{
    border: 1px solid red;
    margin-top: 1%;
    
}

#sech{
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.boxcontain{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

.box1{
    border: 1px solid red;
    width: 20%;
    height: 25%;
    font-size: 1.5em;
}

#paras{
    margin-left: 2%;
}

.box2{
    border: 1px solid red;
    width: 20%;
    height: 25%;
    font-size: 1.5em;
}

#para3{
    margin-left: 2%;
}

.box3{
    border: 1px solid red;
    width: 20%;
    height: 25%;
    font-size: 1.5em;
}

#para4{
    margin-left: 2%;
}

.third{
    border: 1px solid red;
    margin-top: 1%;
}

#head3{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
}

#head4{
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-top: -1%;
}

.third{
    background-color: rgb(4, 82, 4);
}
.third video{
    margin-top: -1%;
    width: 38%;
    height: 15%;
}

.vidcontain{
    display: flex;
    align-items: center;
    justify-content: center;
}

#bttn{
margin-top: 1.5%;
margin-left: 46%;
background-color: antiquewhite;
margin-bottom: 1%;
font-size: 22px;
}

.fourth{
    border: 1px solid red;
    margin-top: 1%;
}




