body{
    background-image: url("cover.jpg");
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

h1{
    font-size: 5em;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#timer{
    color: white;
    font-size: 10em;
}

.controls button{
    font-size: 3em;
    background-color:black;
    color: lavender;
}